* {
	box-sizing: border-box;
}

.p-component {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 1rem;
	font-weight: normal;
}

.p-component-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	transition-duration: 0.2s;
}

.p-disabled,
.p-component:disabled {
	opacity: 0.4;
}

.p-error {
	color: #fca5a5;
}

.p-text-secondary {
	color: rgba(255, 255, 255, 0.6);
}

.pi {
	font-size: 1rem;
}

.p-icon {
	width: 1rem;
	height: 1rem;
}

.p-link {
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	border-radius: 6px;
}
.p-link:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 0.2rem rgba(94, 234, 212, 0.5);
}

.p-component-overlay-enter {
	animation: p-component-overlay-enter-animation 150ms forwards;
}

.p-component-overlay-leave {
	animation: p-component-overlay-leave-animation 150ms forwards;
}

@keyframes p-component-overlay-enter-animation {
	from {
		background-color: transparent;
	}
	to {
		background-color: var(--maskbg);
	}
}
@keyframes p-component-overlay-leave-animation {
	from {
		background-color: var(--maskbg);
	}
	to {
		background-color: transparent;
	}
}

.p-dropdown {
	background: #040d19;
	border: 1px solid #0b213f;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
	border-radius: 6px;
}
.p-dropdown:not(.p-disabled):hover {
	border-color: #5eead4;
}
.p-dropdown:not(.p-disabled).p-focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 0.2rem rgba(94, 234, 212, 0.5);
	border-color: #5eead4;
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label {
	padding-right: 1.75rem;
}
.p-dropdown .p-dropdown-label {
	background: transparent;
	border: 0 none;
}
.p-dropdown .p-dropdown-label.p-placeholder {
	color: rgba(255, 255, 255, 0.6);
}
.p-dropdown .p-dropdown-label:enabled:focus {
	outline: 0 none;
	box-shadow: none;
}
.p-dropdown .p-dropdown-trigger {
	background: transparent;
	color: rgba(255, 255, 255, 0.6);
	width: 3rem;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.p-dropdown .p-dropdown-clear-icon {
	color: rgba(255, 255, 255, 0.6);
	right: 3rem;
}
.p-dropdown.p-invalid.p-component {
	border-color: #fca5a5;
}

.p-dropdown-panel {
	background: #071426;
	color: rgba(255, 255, 255, 0.87);
	border: 1px solid #0b213f;
	border-radius: 6px;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
		0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.p-dropdown-panel .p-dropdown-header {
	padding: 0.75rem 1.25rem;
	border-bottom: 1px solid #0b213f;
	color: rgba(255, 255, 255, 0.87);
	background: #071426;
	margin: 0;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
	padding-right: 1.75rem;
	margin-right: -1.75rem;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
	right: 0.75rem;
	color: rgba(255, 255, 255, 0.6);
}
.p-dropdown-panel
	.p-dropdown-header
	.p-dropdown-clearable-filter
	.p-dropdown-filter {
	padding-right: 3.5rem;
	margin-right: -3.5rem;
}
.p-dropdown-panel
	.p-dropdown-header
	.p-dropdown-clearable-filter
	.p-dropdown-filter-clear-icon {
	right: 2.5rem;
}
.p-dropdown-panel .p-dropdown-items {
	padding: 0.75rem 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
	margin: 0;
	padding: 0.75rem 1.25rem;
	border: 0 none;
	color: rgba(255, 255, 255, 0.87);
	background: transparent;
	transition: box-shadow 0.2s;
	border-radius: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
	color: rgba(255, 255, 255, 0.87);
	background: rgba(94, 234, 212, 0.16);
}
.p-dropdown-panel
	.p-dropdown-items
	.p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
	color: rgba(255, 255, 255, 0.87);
	background: rgba(255, 255, 255, 0.03);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
	margin: 0;
	padding: 0.75rem 1.25rem;
	color: rgba(255, 255, 255, 0.87);
	background: #091a32;
	font-weight: 700;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
	padding: 0.75rem 1.25rem;
	color: rgba(255, 255, 255, 0.87);
	background: transparent;
}

.p-input-filled .p-dropdown {
	background: #0b213f;
}
.p-input-filled .p-dropdown:not(.p-disabled):hover {
	background-color: #0b213f;
}
.p-input-filled .p-dropdown:not(.p-disabled).p-focus {
	background-color: #0b213f;
}
.p-input-filled .p-dropdown:not(.p-disabled).p-focus .p-inputtext {
	background-color: transparent;
}

.p-inputtext {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.87);
	background: #040d19;
	padding: 0.5rem 0.5rem;
	border: 1px solid #0b213f;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
	appearance: none;
	border-radius: 6px;
}
.p-inputtext:enabled:hover {
	border-color: #5eead4;
}
.p-inputtext:enabled:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 0.2rem rgba(94, 234, 212, 0.5);
	border-color: #5eead4;
}
.p-inputtext.p-invalid.p-component {
	border-color: #fca5a5;
}
.p-inputtext.p-inputtext-sm {
	font-size: 0.875rem;
	padding: 0.65625rem 0.65625rem;
}
.p-inputtext.p-inputtext-lg {
	font-size: 1.25rem;
	padding: 0.9375rem 0.9375rem;
}

.p-float-label > label {
	left: 0.75rem;
	color: rgba(255, 255, 255, 0.6);
	transition-duration: 0.2s;
}

.p-float-label > label.p-error {
	color: #fca5a5;
}

.p-input-icon-left > i:first-of-type,
.p-input-icon-left > svg:first-of-type,
.p-input-icon-left > .p-input-prefix {
	left: 0.75rem;
	color: rgba(255, 255, 255, 0.6);
}

.p-input-icon-left > .p-inputtext {
	padding-left: 2.5rem;
}

.p-input-icon-left.p-float-label > label {
	left: 2.5rem;
}

.p-input-icon-right > i:last-of-type,
.p-input-icon-right > svg:last-of-type,
.p-input-icon-right > .p-input-suffix {
	right: 0.75rem;
	color: rgba(255, 255, 255, 0.6);
}

.p-input-icon-right > .p-inputtext {
	padding-right: 2.5rem;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

:-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

::-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.p-input-filled .p-inputtext {
	background-color: #0b213f;
}
.p-input-filled .p-inputtext:enabled:hover {
	background-color: #0b213f;
}
.p-input-filled .p-inputtext:enabled:focus {
	background-color: #0b213f;
}

.p-inputtext-sm .p-inputtext {
	font-size: 0.875rem;
	padding: 0.65625rem 0.65625rem;
}

.p-inputtext-lg .p-inputtext {
	font-size: 1.25rem;
	padding: 0.9375rem 0.9375rem;
}

.p-inputwrapper-filled.p-multiselect.p-multiselect-chip .p-multiselect-label {
	padding: 0.375rem 0.75rem;
}
.p-inputwrapper-filled.p-multiselect.p-multiselect-chip
	.p-multiselect-label.p-multiselect-items-label {
	padding: 0.75rem 0.75rem;
}
.p-inputwrapper-filled.p-multiselect.p-multiselect-clearable
	.p-multiselect-label {
	padding-right: 1.75rem;
}

.p-datatable .p-paginator-top {
	border-width: 1px 0 1px 0;
	border-radius: 0;
}
.p-datatable .p-paginator-bottom {
	border-width: 0 0 1px 0;
	border-radius: 0;
}
.p-datatable .p-datatable-header {
	background: #071426;
	color: rgba(255, 255, 255, 0.6);
	border: 1px solid #0b213f;
	border-width: 0 0 1px 0;
	padding: 1rem 1rem;
	font-weight: 700;
}
.p-datatable .p-datatable-footer {
	background: #071426;
	color: rgba(255, 255, 255, 0.87);
	border: 1px solid #0b213f;
	border-width: 0 0 1px 0;
	padding: 1rem 1rem;
	font-weight: 700;
}
.p-datatable .p-datatable-thead > tr > th {
	text-align: left;
	padding: 1rem 1rem;
	border: 1px solid #0b213f;
	border-width: 0 0 1px 0;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.87);
	background: #071426;
	transition: box-shadow 0.2s;
}
.p-datatable .p-datatable-tfoot > tr > td {
	text-align: left;
	padding: 1rem 1rem;
	border: 1px solid #0b213f;
	border-width: 0 0 1px 0;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.87);
	background: #071426;
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
	color: rgba(255, 255, 255, 0.6);
	margin-left: 0.5rem;
}
.p-datatable .p-sortable-column .p-sortable-column-badge {
	border-radius: 50%;
	height: 1.143rem;
	min-width: 1.143rem;
	line-height: 1.143rem;
	color: rgba(255, 255, 255, 0.87);
	background: rgba(94, 234, 212, 0.16);
	margin-left: 0.5rem;
}
.p-datatable
	.p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
	background: rgba(255, 255, 255, 0.03);
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable
	.p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover
	.p-sortable-column-icon {
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable .p-sortable-column.p-highlight {
	background: rgba(94, 234, 212, 0.16);
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable .p-sortable-column.p-highlight:not(.p-sortable-disabled):hover {
	background: rgba(94, 234, 212, 0.16);
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable
	.p-sortable-column.p-highlight:not(.p-sortable-disabled):hover
	.p-sortable-column-icon {
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable .p-sortable-column:focus {
	box-shadow: inset 0 0 0 0.15rem rgba(94, 234, 212, 0.5);
	outline: 0 none;
}
.p-datatable .p-datatable-tbody > tr {
	background: #071426;
	color: rgba(255, 255, 255, 0.87);
	transition: box-shadow 0.2s;
}
.p-datatable .p-datatable-tbody > tr > td {
	text-align: left;
	border: 1px solid #0b213f;
	border-width: 0 0 1px 0;
	padding: 1rem 1rem;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel {
	width: 2rem;
	height: 2rem;
	color: rgba(255, 255, 255, 0.6);
	border: 0 none;
	background: transparent;
	border-radius: 50%;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:enabled:hover {
	color: rgba(255, 255, 255, 0.87);
	border-color: transparent;
	background: rgba(255, 255, 255, 0.03);
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 0.2rem rgba(94, 234, 212, 0.5);
}
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save {
	margin-right: 0.5rem;
}
.p-datatable .p-datatable-tbody > tr > td > .p-column-title {
	font-weight: 700;
}
.p-datatable .p-datatable-tbody > tr > td.p-highlight {
	background: rgba(94, 234, 212, 0.16);
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
	background: rgba(94, 234, 212, 0.16);
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
	box-shadow: inset 0 2px 0 0 rgba(94, 234, 212, 0.16);
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
	box-shadow: inset 0 -2px 0 0 rgba(94, 234, 212, 0.16);
}
.p-datatable.p-datatable-selectable
	.p-datatable-tbody
	> tr.p-selectable-row:not(.p-highlight):not(
		.p-datatable-emptymessage
	):hover {
	background: rgba(255, 255, 255, 0.03);
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable.p-datatable-selectable
	.p-datatable-tbody
	> tr.p-selectable-row:focus {
	outline: 0.15rem solid rgba(94, 234, 212, 0.5);
	outline-offset: -0.15rem;
}
.p-datatable.p-datatable-selectable-cell
	.p-datatable-tbody
	> tr.p-selectable-row
	> td.p-selectable-cell:not(.p-highlight):hover {
	background: rgba(255, 255, 255, 0.03);
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable.p-datatable-selectable-cell
	.p-datatable-tbody
	> tr.p-selectable-row
	> td.p-selectable-cell:focus {
	outline: 0.15rem solid rgba(94, 234, 212, 0.5);
	outline-offset: -0.15rem;
}
.p-datatable.p-datatable-hoverable-rows
	.p-datatable-tbody
	> tr:not(.p-highlight):not(.p-datatable-emptymessage):hover {
	background: rgba(255, 255, 255, 0.03);
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable .p-column-resizer-helper {
	background: #5eead4;
}
.p-datatable .p-datatable-scrollable-header,
.p-datatable .p-datatable-scrollable-footer {
	background: #071426;
}
.p-datatable.p-datatable-scrollable
	> .p-datatable-wrapper
	> .p-datatable-table
	> .p-datatable-thead,
.p-datatable.p-datatable-scrollable
	> .p-datatable-wrapper
	> .p-datatable-table
	> .p-datatable-tfoot,
.p-datatable.p-datatable-scrollable
	> .p-datatable-wrapper
	> .p-virtualscroller
	> .p-datatable-table
	> .p-datatable-thead,
.p-datatable.p-datatable-scrollable
	> .p-datatable-wrapper
	> .p-virtualscroller
	> .p-datatable-table
	> .p-datatable-tfoot {
	background-color: #071426;
}
.p-datatable .p-datatable-loading-icon {
	font-size: 2rem;
}
.p-datatable .p-datatable-loading-icon.p-icon {
	width: 2rem;
	height: 2rem;
}
.p-datatable.p-datatable-gridlines .p-datatable-header {
	border-width: 1px 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-footer {
	border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-paginator-top {
	border-width: 0 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-paginator-bottom {
	border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
	border-width: 1px 0 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th:last-child {
	border-width: 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
	border-width: 1px 0 0 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td:last-child {
	border-width: 1px 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr:last-child > td {
	border-width: 1px 0 1px 1px;
}
.p-datatable.p-datatable-gridlines
	.p-datatable-tbody
	> tr:last-child
	> td:last-child {
	border-width: 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td {
	border-width: 1px 0 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td:last-child {
	border-width: 1px 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines
	.p-datatable-thead
	+ .p-datatable-tfoot
	> tr
	> td {
	border-width: 0 0 1px 1px;
}
.p-datatable.p-datatable-gridlines
	.p-datatable-thead
	+ .p-datatable-tfoot
	> tr
	> td:last-child {
	border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(
		.p-datatable-tbody
	)
	.p-datatable-tbody
	> tr
	> td {
	border-width: 0 0 1px 1px;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(
		.p-datatable-tbody
	)
	.p-datatable-tbody
	> tr
	> td:last-child {
	border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-tbody):has(
		.p-datatable-tfoot
	)
	.p-datatable-tbody
	> tr:last-child
	> td {
	border-width: 0 0 0 1px;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-tbody):has(
		.p-datatable-tfoot
	)
	.p-datatable-tbody
	> tr:last-child
	> td:last-child {
	border-width: 0 1px 0 1px;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
	background: #0d1a2c;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd.p-highlight {
	background: rgba(94, 234, 212, 0.16);
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable.p-datatable-striped
	.p-datatable-tbody
	> tr.p-row-odd.p-highlight
	.p-row-toggler {
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable.p-datatable-striped
	.p-datatable-tbody
	> tr.p-row-odd.p-highlight
	.p-row-toggler:hover {
	color: rgba(255, 255, 255, 0.87);
}
.p-datatable.p-datatable-striped
	.p-datatable-tbody
	> tr.p-row-odd
	+ .p-row-expanded {
	background: #0d1a2c;
}
.p-datatable.p-datatable-sm .p-datatable-header {
	padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
	padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
	padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-tfoot > tr > td {
	padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-footer {
	padding: 0.5rem 0.5rem;
}
.p-datatable.p-datatable-lg .p-datatable-header {
	padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-thead > tr > th {
	padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-tbody > tr > td {
	padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-tfoot > tr > td {
	padding: 1.25rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-footer {
	padding: 1.25rem 1.25rem;
}

.p-datatable-drag-selection-helper {
	background: rgba(94, 234, 212, 0.16);
}

.p-paginator {
	background: #071426;
	color: rgba(255, 255, 255, 0.6);
	border: solid #0b213f;
	border-width: 1px;
	padding: 0.5rem 1rem;
	border-radius: 6px;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
	background-color: transparent;
	border: 0 none;
	color: rgba(255, 255, 255, 0.6);
	min-width: 3rem;
	height: 3rem;
	margin: 0.143rem;
	transition: box-shadow 0.2s;
	border-radius: 6px;
}
.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
	background: rgba(255, 255, 255, 0.03);
	border-color: transparent;
	color: rgba(255, 255, 255, 0.87);
}
.p-paginator .p-paginator-first {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.p-paginator .p-paginator-last {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.p-paginator .p-dropdown {
	margin-left: 0.5rem;
	height: 3rem;
}
.p-paginator .p-dropdown .p-dropdown-label {
	padding-right: 0;
}
.p-paginator .p-paginator-page-input {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.p-paginator .p-paginator-page-input .p-inputtext {
	max-width: 3rem;
}
.p-paginator .p-paginator-current {
	background-color: transparent;
	border: 0 none;
	color: rgba(255, 255, 255, 0.6);
	min-width: 3rem;
	height: 3rem;
	margin: 0.143rem;
	padding: 0 0.5rem;
}
.p-paginator .p-paginator-pages .p-paginator-page {
	background-color: transparent;
	border: 0 none;
	color: rgba(255, 255, 255, 0.6);
	min-width: 3rem;
	height: 3rem;
	margin: 0.143rem;
	transition: box-shadow 0.2s;
	border-radius: 6px;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
	background: rgba(94, 234, 212, 0.16);
	border-color: rgba(94, 234, 212, 0.16);
	color: rgba(255, 255, 255, 0.87);
}
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
	background: rgba(255, 255, 255, 0.03);
	border-color: transparent;
	color: rgba(255, 255, 255, 0.87);
}
.p-galleria .p-galleria-close {
	margin: 0.5rem;
	background: transparent;
	color: #f8f9fa;
	width: 4rem;
	height: 4rem;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	border-radius: 50%;
}
.p-galleria .p-galleria-close .p-galleria-close-icon {
	font-size: 2rem;
}
.p-galleria .p-galleria-close .p-galleria-close-icon.p-icon {
	width: 2rem;
	height: 2rem;
}
.p-galleria .p-galleria-close:hover {
	background: rgba(255, 255, 255, 0.1);
	color: #f8f9fa;
}
.p-galleria .p-galleria-item-nav {
	background: transparent;
	color: #f8f9fa;
	width: 4rem;
	height: 4rem;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	border-radius: 6px;
	margin: 0 0.5rem;
}
.p-galleria .p-galleria-item-nav .p-galleria-item-prev-icon,
.p-galleria .p-galleria-item-nav .p-galleria-item-next-icon {
	font-size: 2rem;
}
.p-galleria .p-galleria-item-nav .p-galleria-item-prev-icon.p-icon,
.p-galleria .p-galleria-item-nav .p-galleria-item-next-icon.p-icon {
	width: 2rem;
	height: 2rem;
}
.p-galleria .p-galleria-item-nav:not(.p-disabled):hover {
	background: rgba(255, 255, 255, 0.1);
	color: #f8f9fa;
}
.p-galleria .p-galleria-caption {
	background: rgba(0, 0, 0, 0.5);
	color: #f8f9fa;
	padding: 1rem;
}
.p-galleria .p-galleria-indicators {
	padding: 1rem;
}
.p-galleria .p-galleria-indicators .p-galleria-indicator button {
	background-color: #ced4da;
	width: 1rem;
	height: 1rem;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	border-radius: 50%;
}
.p-galleria .p-galleria-indicators .p-galleria-indicator button:hover {
	background: #adb5bd;
}
.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
	background: #f0fdfa;
	color: #0f766e;
}
.p-galleria.p-galleria-indicators-bottom .p-galleria-indicator,
.p-galleria.p-galleria-indicators-top .p-galleria-indicator {
	margin-right: 0.5rem;
}
.p-galleria.p-galleria-indicators-left .p-galleria-indicator,
.p-galleria.p-galleria-indicators-right .p-galleria-indicator {
	margin-bottom: 0.5rem;
}
.p-galleria.p-galleria-indicator-onitem .p-galleria-indicators {
	background: rgba(0, 0, 0, 0.5);
}
.p-galleria.p-galleria-indicator-onitem
	.p-galleria-indicators
	.p-galleria-indicator
	button {
	background: rgba(255, 255, 255, 0.4);
}
.p-galleria.p-galleria-indicator-onitem
	.p-galleria-indicators
	.p-galleria-indicator
	button:hover {
	background: rgba(255, 255, 255, 0.6);
}
.p-galleria.p-galleria-indicator-onitem
	.p-galleria-indicators
	.p-galleria-indicator.p-highlight
	button {
	background: #f0fdfa;
	color: #0f766e;
}
.p-galleria .p-galleria-thumbnail-container {
	background: rgba(0, 0, 0, 0.9);
	padding: 1rem 0.25rem;
}
.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
	margin: 0.5rem;
	background-color: transparent;
	color: #f8f9fa;
	width: 2rem;
	height: 2rem;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	border-radius: 50%;
}
.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev:hover,
.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next:hover {
	background: rgba(255, 255, 255, 0.1);
	color: #f8f9fa;
}
.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-item-content {
	transition: box-shadow 0.2s;
}
.p-galleria
	.p-galleria-thumbnail-container
	.p-galleria-thumbnail-item-content:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 0.2rem #99f6e4;
}

.p-galleria-mask {
	--maskbg: rgba(0, 0, 0, 0.9);
}

.p-image-mask {
	--maskbg: rgba(0, 0, 0, 0.9);
}

.p-image-preview-indicator {
	background-color: transparent;
	color: #f8f9fa;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-image-preview-indicator .p-icon {
	width: 1.5rem;
	height: 1.5rem;
}

.p-image-preview-container:hover > .p-image-preview-indicator {
	background-color: rgba(0, 0, 0, 0.5);
}

.p-image-toolbar {
	padding: 1rem;
}

.p-image-action.p-link {
	color: #f8f9fa;
	background-color: transparent;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	margin-right: 0.5rem;
}
.p-image-action.p-link:last-child {
	margin-right: 0;
}
.p-image-action.p-link:hover {
	color: #f8f9fa;
	background-color: rgba(255, 255, 255, 0.1);
}
.p-image-action.p-link span {
	font-size: 1.5rem;
}
.p-image-action.p-link .p-icon {
	width: 1.5rem;
	height: 1.5rem;
}
.p-progressbar {
	border: 0 none;
	height: 1.5rem;
	background: #0b213f;
	border-radius: 6px;
}
.p-progressbar .p-progressbar-value {
	border: 0 none;
	margin: 0;
	background: #5eead4;
}
.p-progressbar .p-progressbar-label {
	color: #1c2127;
	line-height: 1.5rem;
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
	box-shadow: inset 0 2px 0 0 #5eead4;
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
	box-shadow: inset 0 -2px 0 0 #5eead4;
}
