@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.90);
  background-color: #242424;
  -webkit-text-size-adjust: 100%;
}

a:hover { 
  color: rgb(172, 172, 172);  
}

body,
h1,
h2,
h3,
div,
p {
  margin: 0rem;    
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.17rem;
  font-weight: bold;
}

button:hover {
  color: rgb(172, 172, 172);  
}

input {   
  font-weight: 600;
}

label {
  font-weight: 600;            
}

nav {
  display:flex;
  align-items: center;
  z-index: 10000;  
  height: 2.75rem;
  background-color: #3d3d3d;     
  box-shadow: 0rem 0.125rem 0.125rem rgba(255, 255, 255, 0.432); 
}

/* For primereact Image component, toolbar under navbar */
.p-image-toolbar {
  margin-top: 2rem;
}

.nav-menu {
  display: none;
  position: absolute;
  background-color: #616161;
  top: 2.75rem;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border-right: transparent;
  border-bottom-right-radius: 2rem;
}

.nav-menu.open {
  display: block;
}