a {  
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
}

a:visited {
  color: rgba(255, 255, 255, 0.87);
}

a:hover { 
  color: rgb(172, 172, 172);  
}

body,
h1,
h2,
h3,
div,
p {
  margin: 0rem;    
}

button:hover {
  color: rgb(172, 172, 172);  
}

nav {
  z-index: 10000;  
  height: 2.75rem;
  background-color: #3d3d3d;     
  box-shadow: 0rem 0.125rem 0.125rem rgba(255, 255, 255, 0.432); 
  position: sticky; top:0;
}

.nav-btn-home {
  padding: 0.47rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #0a5300;
  color: white;
}

.nav-btn-create {
  padding: 0.47rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #a37309;
  color: white;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-icon {
  margin-right: 0.5rem; 
}