.create-landing-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0rem 1rem;
	width: 45%;
	height: 70%;
	text-align: center;
	border: 2px solid;
	border-radius: 0.5rem;
}

#dark.create-landing-btn {
	border: 2px solid white;
}

.create-landing-btn:hover {
	color: #00cec9;
	border: 2px solid #00cec9;
}

.create-file-btn {
	width: fit-content;
	background-color: transparent;
	border: transparent;
}

.create-file-btn::file-selector-button {
	font-weight: 700;
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
	border: transparent;
	border-radius: 0.25rem;
	background-color: #fd8d14;
}

.create-new-img-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.create-new-video-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.create-new-video-box {
	position: relative;
	display: none;
	margin-bottom: 2rem;
	border: transparent;
	border-radius: 0.25rem;
	background-color: rgb(186 230 253);
	width: 100%;
}

#dark.create-new-video-box,
#dark.create-new-video-box-md {
	background-color: rgb(30, 41, 59);
}

.create-new-video-box-md {
	display: block;
	margin-bottom: 2rem;
	border: transparent;
	border-radius: 0.25rem;
	background-color: rgb(186, 230, 253);
	width: calc(100vw - 3rem);
	height: calc((100vw - 3rem) * 9 / 16 + 9rem);
}

.create-iframe-dimensions-md {
	width: calc(100vw - 3rem);
	height: calc((100vw - 3rem) * 9 / 16);
}

@media (min-width: 48rem) {
	.create-new-img-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2rem;
	}

	.create-new-video-box {
		display: flex;
	}

	.create-new-video-box-md {
		display: none;
	}
}

@media (min-width: 90rem) {
	.create-new-video-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2rem;
	}
}
