input {   
    font-weight: 600;
    font-size: 1rem;
}

label {
    font-weight: 600;            
}

input::file-selector-button {
    font-weight: 600;    
    padding: 0.5rem 0.95rem;
    margin-right: 0.6rem;
    border: 1px solid grey;
    border-radius: 0.25rem;    
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(17 24 39);
}

input::file-selector-button:hover {
    background-color: #203acf;
    border: 1px solid #00cec9;
    color: rgb(172, 172, 172);  
}

button:hover {
    background-color: #203acf;     
    border: 1px solid #00cec9;  
}

.btn-upload {
    font-weight: 600;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 0.25rem;
    width: fit-content;    
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.87);  
    background-color: rgb(17 24 39);    
}

.uploaded-box {
    display: flex;
    margin: 1rem 2rem;    
    border: 2px solid rgb(163, 163, 163); 
    background-color: rgb(73, 73, 73);
    width: 46%;
    height: 10rem;
}

.uploaded-img {
    margin: 0rem 1.5rem ;
    width: 9.75rem;
    height: 9.75rem;
    object-fit: cover;
}

.btn-create-game {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.6rem;
    width: 50%;      
    color: rgba(255, 255, 255, 0.87);
    background-color: green;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}

.p-component-overlay {
    top: 2.75rem;
}