.create-landing-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0rem 1rem;
	width: 45%;
	height: 70%;
	text-align: center;
	border: 2px solid white;
	border-radius: 8px;
}

.create-landing-btn:hover {
	color: #00cec9;
	border: 2px solid #00cec9;
}

input::file-selector-button {
	font-weight: 700;
	padding: 0.5rem 1rem;
	margin-right: 0.6rem;
	border: transparent;
	border-radius: 0.25rem;
	transition: 0.5s;
}

input::file-selector-button:hover {
	color: rgb(172, 172, 172);
}

.create-new-img-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.create-new-video-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.create-new-video-box {
	position: relative;
	display: none;
	margin-bottom: 2rem;
	border: 2px solid rgb(163, 163, 163);
	border-radius: 0.25rem;
	background-color: rgb(30, 41, 59);
	width: 100%;
}

.create-new-video-box-md {
	display: block;
	margin-bottom: 2rem;
	border: 2px solid rgb(163, 163, 163);
	border-radius: 0.25rem;
	background-color: rgb(82, 82, 82);
	width: calc(100vw - 3rem);
	height: calc((100vw - 3rem) * 9 / 16 + 9rem);
}

.create-iframe-dimensions-md {
	width: calc(100vw - 3rem - 4px);
	height: calc((100vw - 3rem - 4px) * 9 / 16);
}

@media (min-width: 48rem) {
	.create-new-img-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2rem;
	}

	.create-new-video-box {
		display: flex;
	}

	.create-new-video-box-md {
		display: none;
	}
}

@media (min-width: 90rem) {
	.create-new-video-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2rem;
	}
}
