.game-choices-height {
	height: calc(100vh - 2.75rem - 5.5rem - 1rem);
}

.game-video-btn {
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100%;
	height: 5.5rem;
	font-size: 1.25rem;
	color: rgba(255, 255, 255, 0.87);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.game-choice-btn {
	display: flex;
	flex: 1 1 0%;
	height: 100%;
	transition: color 500ms ease-out;
}

.game-choice-btn:hover {
	color: rgb(0, 255, 98);
}

.fade-in {
	animation: fade-in 1s ease-out forwards;
}

.fade-out {
	animation: fade-out 1s ease-out forwards;
}

.game-choice-label {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	top: 1.5rem;
	-webkit-text-stroke: 1px black;
	font-size: 2rem;
	font-weight: 700;
}

.winner-img {
	width: clamp(17rem, 60vw, 45rem);
	height: clamp(17rem, 75vh, 45rem);
}

.winner-video {
	width: clamp(17rem, 70vw, 60rem);
	height: calc(clamp(17rem, 70vw, 60rem) * (9 / 16));
}

@media (min-width: 48rem) {
	.game-video-btn {
		font-size: 1.5rem;
	}
}

@media (min-width: 64rem) {
	.game-choice-label {
		font-size: 2.5rem;
		line-height: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
