.game-image-height {
	height: calc(100vh - 8rem);
}

.game-image-btn {
	display: flex;
	flex: 1 1 0%;
	height: 100%;
	transition: color 500ms ease-out;
	color: rgb(240, 240, 240);
}

.game-image-btn:hover {
	color: rgb(0, 255, 98);
}

.game-image-label {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	top: 1.5rem;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
		-1px 1px 0 #000, 1px 1px 0 #000;
	font-size: 1.25rem;
	line-height: 1.25;
	font-weight: 700;
}

.game-video-btn {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	line-height: 1.25;
	width: 100%;
	height: 5rem;
	font-size: 1.25rem;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* Number of lines to show before truncating */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.game-video-btn.left {
	background-color: rgb(56, 189, 248);
}

.game-video-btn.right {
	background-color: rgb(251, 113, 133);
}

.game-video-btn.left.dark {
	background-color: rgb(2, 132, 199);
}

.game-video-btn.right.dark {
	background-color: rgb(225, 29, 72);
}

.game-video-btn.left:hover {
	background-color: rgb(156, 225, 255);
	color: black;
}

.game-video-btn.right:hover {
	background-color: rgb(255, 172, 185);
	color: black;
}

.game-video-btn.left.dark:hover {
	background-color: rgb(0, 86, 129);
	color: white;
}

.game-video-btn.right.dark:hover {
	background-color: rgb(167, 0, 36);
	color: white;
}

.fade-in {
	animation: fade-in 1s ease-out forwards;
}

.fade-out {
	animation: fade-out 1s ease-out forwards;
}

.winner-img {
	width: clamp(17rem, 60vw, 45rem);
	height: clamp(17rem, 75vh, 45rem);
}

.winner-video {
	width: clamp(17rem, 70vw, 60rem);
	height: calc(clamp(17rem, 70vw, 60rem) * (9 / 16));
}

@media (min-width: 48rem) {
	.game-image-label {
		font-size: 1.75rem;
	}
}

@media (min-width: 64rem) {
	.game-video-btn {
		font-size: 1.5rem;
	}

	.game-image-label {
		font-size: 2rem;
	}
}

@media (orientation: landscape) {
	.game-video-btn {
		height: 3.5rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media (hover: none) {
	.game-image-btn:hover {
		color: rgb(240, 240, 240);
	}

	.game-video-btn.left:hover {
		background-color: rgb(56, 189, 248);
		color: inherit;
	}

	.game-video-btn.right:hover {
		background-color: rgb(251, 113, 133);
		color: inherit;
	}

	.game-video-btn.left.dark:hover {
		background-color: rgb(2, 132, 199);
		color: inherit;
	}

	.game-video-btn.right.dark:hover {
		background-color: rgb(225, 29, 72);
		color: inherit;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
