.formbox-container {    
    border: 0.125rem solid rgb(172, 160, 59);
    border-radius: 0.375rem; 
    background-color: rgb(199, 199, 248);    
    margin-top: 3rem;
    width: 40%;
}

.formbox-dropdown {
    width: 90%;    
    color: rgb(43, 13, 35);
    margin: 0.625rem;
    padding: 0.3rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    text-align: center;
}

.formbox-btn {
    width: 90%;
    color: rgb(43, 13, 35);
    margin: 0.625rem;
    background-color: greenyellow;
    font-weight: 600;
    padding: 0.625rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
}

.game-imgs-container {
    height: 44rem;    
    display: flex;    
}

.gameScreen-btn {
    margin: 0rem;
    background-color: rgb(22, 134, 22);
    width: 50%;
    height: 5.5rem;
    font-weight: 600;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.87);  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.winner-img-container {
    width: 44rem;
    height: 44rem;  
}