.home-box-container {
	display: flex;
	flex-direction: column;
	padding: 1rem 1rem;
	width: 100%;
}

.home-box {
	display: flex;
	flex-direction: column;
	margin: 0.75rem 0;
	border: 1px solid rgb(218, 218, 218);
	border-radius: 0.5rem;
	width: 100%;
}

.home-box-img-label {
	display: -webkit-box;
	-webkit-line-clamp: 1; /* Number of lines to show before truncating */
	-webkit-box-orient: vertical;
	font-weight: 500;
	margin: 0.25rem 0.5rem;
	text-align: center;
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
}

.home-box-desc {
	display: -webkit-box;
	-webkit-line-clamp: 3; /* Number of lines to show before truncating */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #3a3a44;
	font-size: 1rem;
	margin: 0.25rem 0.5rem;
	word-wrap: break-word;
}

.home-box-desc.dark {
	color: rgb(218, 218, 218);
}

.home-box-btn {
	border: transparent;
	font-weight: 600;
	border-radius: 0.5rem;
	display: inline-block;
	padding: 0.5rem 0rem 0.5rem 0.75rem;
	margin: 0.75rem;
	width: 7rem;
}

.home-search-input {
	padding: 0.5rem;
	border-radius: 0.5rem;
	border-start-end-radius: 0;
	border-end-end-radius: 0;
	width: clamp(15rem, 75vw, 31.75rem);
}

.home-search-btn {
	background-color: rgb(218, 218, 218);
	border: 1px solid;
	border-left: transparent;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	user-select: none;
	padding: 0 0.75rem;
}

#dark.home-search-btn {
	background-color: rgb(122, 122, 122);
	border: 1px solid transparent;
}

.home-search-btn:hover {
	background-color: #3a3a44;
}

@media (min-width: 48rem) {
	.home-box-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1.5rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media (min-width: 64rem) {
	.home-box-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 90rem) {
	.home-box-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
